.benefits {
  padding: 120px 0;

  position: relative;

  &::after {
    content: "II";
    left: calc(50% + 555px); //555px is half container (1100px)
    transform: translate(-50%, 0%);

    @include decorNumber();
  }
}

.benefits__row {
  display: flex;
  justify-content: center;
  column-gap: 70px;
}
.benefits_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 53px;
}
.benefits__item-img {
  width: 80px;
  height: 80px;
}
.benefits__item-text {
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35; /* 135% */
}
