.cta {
  padding: 180px 0;

  background: linear-gradient(0deg, #242b33e6, #242b33e6), linear-gradient(180deg, $dark 10.42%, #242b3300 50.52%, $dark 90.1%), url(../img/cta/cta-bg.jpg);
}
.cta__title {
  margin-bottom: 17px;
}

.cta__text {
  line-height: 1.5;

  p + p {
    margin-top: 1em;
  }
}
.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.cta__form {
}
